<a href="https://colab.research.google.com/github/Flibbertigibbert/HDSC-Introduction-to-Python-for-machine-learning/blob/master/Hamonye_Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount google drive
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [7]:
df = pd.read_csv("/content/drive/MyDrive/clideo.com/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [10]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [11]:
df["Element"].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

# Q2. Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [5]:
# Group by 'Area' and calculate the sum of 'Y2017'
grouped = df.groupby('Area')['Y2017'].sum().reset_index()

# Sort the DataFrame in ascending order based on the sum of 'Y2017'
sorted_df = grouped.sort_values(by='Y2017', ascending=True)

# Retrieve the 7th row from the sorted DataFrame
seventh_lowest_area = sorted_df.iloc[6]

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area['Area'])

Area with the 7th lowest sum in 2017: Guinea-Bissau

# Q3. What is the total Protein supply quantity in Madagascar in 2015?

In [15]:
# Filter the dataset for Madagascar and  the 'Protein supply quantity (g/capita/day)'
madagascar_protein_suply_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

# Sum the 'Y2015' column to get the total protein supply quantity in Madagascar in 2015
total_protein_supply_2015 = madagascar_protein_suply_2015["Y2015"].sum()

print("Total Protein Supply Quantity in Madagascar in 2015:", total_protein_supply_2015)

Total Protein Supply Quantity in Madagascar in 2015: 173.04999999999998

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [16]:
# Select only the columns for the year 2017
year_2017_data = df['Y2017']

# Calculate the mean and standard deviation for the year 2017
mean_2017 = year_2017_data.mean()
std_deviation_2017 = year_2017_data.std()

# Round the results to two decimal places
mean_2017_rounded = round(mean_2017, 2)
std_deviation_2017_rounded = round(std_deviation_2017, 2)

print("Mean for the year 2017:", mean_2017_rounded)
print("Standard Deviation for the year 2017:", std_deviation_2017_rounded)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [17]:
# Group by 'Area' and calculate the sum of 'Y2017'
grouped = df.groupby('Area')['Y2017'].sum().reset_index()

# Find the area with the highest sum in 2017
area_with_highest_sum_2017 = grouped[grouped['Y2017'] == grouped['Y2017'].max()]

print("Area with the highest sum in 2017:", area_with_highest_sum_2017['Area'].values[0])

Area with the highest sum in 2017: Nigeria

# What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [19]:
# Filter the dataset for 'Item' equal to 'Wine'
wine_data = df[df['Item'] == 'Wine']

# Select the 'Y2015' and 'Y2018' columns
wine_2015_2018 = wine_data[['Y2015', 'Y2018']]

# Sum the values for 2015 and 2018
total_wine_produced_2015 = wine_2015_2018['Y2015'].sum()
total_wine_produced_2018 = wine_2015_2018['Y2018'].sum()

print("Total Wine Produced in 2015:", total_wine_produced_2015)
print("Total Wine Produced in 2018:", total_wine_produced_2018)

Total Wine Produced in 2015: 4251.8099999999995
Total Wine Produced in 2018: 4039.3199999999997

# What is the total number of unique countries in the dataset?

In [18]:
df["Area"].nunique()

49

# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [20]:
# Filter the dataset for 'Element' equal to 'Processing'
processing_data = df[df['Element'] == 'Processing']

# Sum the values for 2017 in the 'Y2017' column
total_processing_2017 = processing_data['Y2017'].sum()

print("Total Processing in 2017:", total_processing_2017)

Total Processing in 2017: 292836.0

# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [21]:
# Filter the dataset for 'Element' equal to 'Stock Variation'
stock_variation_data = df[df['Element'] == 'Stock Variation']

# Group by year columns (Y2014 to Y2018) and calculate the sum for each year
yearly_sum = stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum
year_with_highest_stock_variation = yearly_sum.idxmax()

print("Year with the highest sum of Stock Variation:", year_with_highest_stock_variation)

Year with the highest sum of Stock Variation: Y2014

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [22]:
# Select only the columns for the year 2014
year_2014_data = df['Y2014']

# Count the number of missing values in the 'Y2014' column
missing_data_count = year_2014_data.isnull().sum()

# Calculate the total number of data points in the 'Y2014' column
total_data_points = len(year_2014_data)

# Calculate the percentage of missing data
percentage_missing_data = (missing_data_count / total_data_points) * 100

# Round the results to three decimal places
percentage_missing_data = round(percentage_missing_data, 3)

print("Total Number of Missing Data in 2014:", missing_data_count)
print("Percentage of Missing Data in 2014:", percentage_missing_data, "%")

Total Number of Missing Data in 2014: 1589
Percentage of Missing Data in 2014: 2.607 %

In [29]:
#What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

# Which year had the least correlation with ‘Element Code’?

In [28]:
# Select the columns 'Element Code' and the year columns (Y2014 to Y2018)
selected_columns = ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
data = df[selected_columns]

# Calculate the correlation between 'Element Code' and each year
correlations = data.corr()

#find the year with the least correlation with Element Code
min_correlation_year = correlations['Element Code'].idxmin()

print("Year with the least correlation with 'Element Code':", min_correlation_year)

Year with the least correlation with 'Element Code': Y2016

# Given the following python code, what would the output of the code give?

In [30]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored